body {
    font-size: 24px;
}

button {
    border-radius: 5px;
    font-size:26px;
}

input {
    border-radius: 5px;
    font-size:30px;
}

#search-window {
    border-bottom: 3px solid black;
}

.small-card {
    background-color: rgb(46, 46, 138);
    color:white;
    border-radius: 0;
}

#current-day {
    background-color: rgb(119, 119, 255);
}

#uv-index {
    border-radius: 7px;
    padding: 0px 10px;
}