button {
    border-radius: 5px;
    font-size:26px;
}

input {
    border-radius: 5px;
    font-size:30px;
}

#forecast-cards {
    height: 200px;
}

.card {
    border-width: 3px;
}

#search-window {
    border-bottom: 3px solid black;
}